{% extends 'base.html' %}
{% block body %}
<div class="container">

	<div class="row">
		<div class="col">
			<p>Thank you for your purchase.  Your payment details are as follows:</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p>
				Customer Email:<br />
				Paypal Transaction ID:	<br />
				Payment Status:	
			</p>
		</div>
		<div class="col">
			<p>
				{{ data.email }} <br />
				{{ data.paypal_transaction_id }} <br />
				{{ data.payment_status }}
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			<p>If your payment is complete, you may proceed to the downloads section.</p>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<p><a href="{{ url_for('download') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Download</a></p>
		</div>
	</div>

</div>
{% endblock body %}
